body {
    background-color: black;
    color: white;
}

form {
    display: inline-block;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100px; 
}

header input[type="submit"] {
    background-color: black;
    color: white;
    padding: 12px 24px; 
    font-size: 16px; 
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin: 10px; 
    transition: background-color 0.3s ease; 
}

header input[type="submit"]:hover {
    background-color: darkgray; 
}



